<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app="myApp">

<div ng-controller="aCtrl">
    <button type="button" ng-click="click()">click</button>
</div>

<div ng-controller="bCtrl">
    <div ng-if="showConfig.show">will show me</div>
</div>

<script src="../bower_components/angular/angular.min.js"></script>
<script>
    // 通过事件，记得利用$rootScope 来广播事件。
    // 优点是解耦，也是ng的一种通讯方式. 很容易理解
    // 有人说什么性能差，效率不高之类的。 其实不是非常大的应用完全不用关注这个。 我理解就是一种js级冒泡。 性能远远小于dom操作。
//    angular.module('myApp', []).controller('aCtrl', function ($scope, $rootScope) {
//        $scope.click = function () {
//            $rootScope.$broadcast('do_show');
//        };
//    }).controller('bCtrl', function ($scope) {
//        $scope.showConfig = {
//            show: false
//        };
//        $scope.$on('do_show', function () {
//            $scope.showConfig.show = !$scope.showConfig.show;
//        })
//    });
</script>
<script>
    // 利用ng双向绑定技术。 通过Service提供一个Scope，具备Scope的特性，利用这个Scope 把 aCtrl bCtrl 建立联系。
    //    angular.module('myApp', []).controller('aCtrl', function ($scope, $rootScope, Service) {
    //        $scope.click = function () {
    //            Service.showConfig.show = !Service.showConfig.show;
    //        };
    //    }).controller('bCtrl', function ($scope, Service) {
    //        // 注意这里是把Scope赋值。 而非 Service.showConfig.show 一个值赋值。
    //        $scope.showConfig = Service.showConfig;
    //    }).factory('Service', function ($rootScope) {
    //        var showConfig = $rootScope.$new();
    //        showConfig.show = false;
    //        return {
    //            showConfig: showConfig
    //        };
    //    });
</script>
<script>

</script>
</body>
</html>