<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="angular.js"></script>
</head>
<body>

<h1>读写不一致</h1>

<div ng-controller="MyCtrl">

    model: <span ng-bind="name"></span>

    <div ng-controller="SubMyCtrl">
        <input type="text" ng-model="name"/>
    </div>
</div>

<h1>方案：传引用</h1>

<div ng-controller="FixMyCtrl">

    model: <span ng-bind="people.name"></span>

    <div ng-controller="FixSubMyCtrl">
        <input type="text" ng-model="people.name"/>
    </div>
</div>

<script>
    angular.module('myApp', []).controller('MyCtrl', function ($scope) {
        $scope.name = 'hello';
    }).controller('SubMyCtrl', function ($scope) {

    }).controller('FixMyCtrl', function ($scope) {
        $scope.people = {name: 'hello'};
    }).controller('FixSubMyCtrl', function ($scope) {

    });
</script>

</body>
</html>